
p{
    background-color:burlywood;
    padding: 5px;
}
#content {
    color: crimson;
}
button {
    width:100px;
    height: 50px;
}
.btn{
    border: 5px ridge;
    border-color: pink;
    border-radius: 10px;
}
.btn:hover {
    background-color: palevioletred;
}

